body {
  background: rgba(0, 0, 0, 0.90);
  color: black;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Nanum Gothic Coding', 'Roboto',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: mediumslateblue;
  font-weight: 700;
  text-decoration: none;
}

a:active, a:visited {
  color: mediumslateblue;
}

.App {
  background: white;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
  border-right: 4px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Nanum Gothic Coding', Tahoma, sans-serif;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 1100px;
  width: 1100px;
}

#analysis {
  margin-top: 10px;
}

.analysis-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.analysis-green {
  color: mediumseagreen;
  font-size: 2.5rem;
  padding-top: 5px;
}

.analysis-green-small {
  color: mediumseagreen;
  font-size: 2rem;
  padding-top: 5px;
}

#analysis-consensus-details {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  gap: 25px;
  margin: 50px auto;
  text-align: center;
}

#analysis-consensus-details div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.analysis-large {
  font-size: 1.5rem;
  padding-top: 5px;
}

#analysis-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}

.analysis-medium {
  font-size: 1.3rem;
  padding-top: 5px;
}

.analysis-row {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  justify-content: space-evenly;
  margin: 50px 30px;
}

#analyst-row-1 div {
  flex-basis: 33%;
}

#analyst-row-2 div {
  flex-basis: 33%;
}

#analsyt-row-3 div {
  flex-basis: 100%;
}

#analysis-summary {
  margin-bottom: 10px;
}

#analysis-summary:nth-of-type(odd) {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  background: rgb(245, 245, 245, 1);
}

#analysis-symbol {
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto;
  padding: 0 0 5px 0;
  text-align: center;
  width: fit-content;
}

#basic-details {
  background: #1abc8f;
  border-top: 6px solid rgba(0, 0, 0, 0.2);
  border-bottom: 6px solid rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 1.2rem;
  justify-content: space-evenly;
  text-align: left;
  padding-left: 65px;
}

.basic-details-item {
  font-weight: 600;
  text-transform: capitalize;
}

.basic-flex-column {
  flex: 1 1 0px;
}

.basic-flex-column ul {
  list-style-type: none;
  margin: 7px;
  padding-left: 0;
}

.basic-flex-column li {
  padding: 5px;
}

.bold {
  font-weight: 600 !important;
}

.border-top {
  border-top: 4px solid rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  width: 100px;
}

#chart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#chart-buttons {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 30px auto 20px auto;
}

#chart-symbol {
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0 auto 25px auto;
  text-align: center;
  width: fit-content;
}

#chart-time {
  font-size: 1.1rem;
  padding: 60px 200px 0 200px;
}

#chart-time a {
  color: black;
}

#chart-time a:hover {
  color: mediumslateblue;
  font-weight: 600;
}

#chart-time a:active {
  color: black;
  font-weight: 600;
}

#chart-time ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 12px 0;
  padding-left: 0;
}

.chart-time-active {
  background: rgb(0, 0, 0, 0.7) !important;
  border: 2px solid rgba(0, 0, 0, 0.5);
  color: white !important;
  font-weight: 600;
  padding: 8px;
}

.chart-time-link {
  margin: 8px;
}

#company {
  margin-top: 10px;
}

#company-basic-details {
  background: rgba(0, 0, 0, 0.9);
  border: 6px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
  font-weight: 600;
  margin: 30px auto 30px auto;
  padding: 10px 90px;
  text-align: center;
  width: fit-content;
}

#company-basic-details div {
  padding: 5px;
}

#company-description {
  font-size: 1.1rem;
  line-height: 1.4rem;
  padding: 30px 60px 10px 60px;
  text-align: left;
}

.company-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.company-green {
  color: mediumseagreen;
  font-size: 2.5rem;
  padding-top: 5px;
}

#company-image {
  margin: 0 auto;
  padding: 35px 0 10px 0;
}

#company-image img {
  width: 100px;
}

.company-large {
  font-size: 1.5rem;
  padding-top: 5px;
}

#company-middle-flex {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  gap: 40px;
  margin: 30px auto;
  text-align: center;
}

#company-middle-flex div {
  display: flex;
  flex-direction: column;
  width: 250px;
}

#company-money-details {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  gap: 25px;
  margin: 30px auto;
  text-align: center;
}

#company-money-details div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

#company-name {
  border-top: 4px solid rgba(0, 0, 0, 0.8);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 0 0 0;
  margin: 0 auto;
  width: fit-content;
}

#company-sector {
  margin-top: 10px;
}

#company-symbol {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 0 10px 0;
  text-align: center;
}

#contact {
  margin-top: 20px;
}

#contact a {
  color: mediumslateblue;
}

#contact a:hover {
  font-weight: 600;
}

#contact-body {
  font-size: 1rem;
  padding: 50px 30px;
  text-align: left;
}

#contact-email {
  padding-bottom: 50px;
}

.contact-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#contact-header {
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  text-align: center;
  width: fit-content;
}

#contact-header div {
  padding-bottom: 10px;
}

.contact-sub-header {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  width: fit-content;
}

#daily-chart {
  margin: 50px 155px 25px auto;
}

#details {
  margin-top: 5px;
}

.details-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#details-flex-left div {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
}

#details-flex-mid div {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
}

#details-flex-right div {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  width: 250px;
}

.details-green {
  color: mediumseagreen;
  font-size: 2.5rem;
  padding-top: 5px;
}

#details-image {
  margin: 0 auto;
  padding: 35px 0 10px 0;
}

.details-large {
  font-size: 1.5rem;
  padding-top: 5px;
}

#details-middle-flex {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  gap: 150px;
  margin: 30px auto 0 auto;
  text-align: center;
}

#details-money {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  gap: 100px;
  margin: 30px auto;
  text-align: center;
}

#details-money div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.details-money-under {
  color: "black";
  display: "block";
  font-size: 1.1rem;
  font-weight: "600";
  padding-top: 8px;
  text-align: "center";
}

#details-name {
  border-top: 4px solid rgba(0, 0, 0, 0.8);
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0 auto 20px auto;
  padding: 10px 0 0 0;
  width: fit-content;
}

.details-red {
  color: red;
  font-size: 2.5rem;
  padding-top: 5px;
}

#details-symbol {
  color: black;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 0 10px 0;
  text-align: center;
}

.fade-in {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

.fade-in-fast {
  animation: fadeIn 200ms;
  -webkit-animation: fadeIn 200ms;
}

.fade-in-slow {
  animation: fadeIn 2s;
  -webkit-animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.financial-datestamp {
  color: mediumseagreen;
  font-size: 2.5rem;
  font-weight: 600;
  padding-left: 20px;
  text-transform: capitalize;
}

#financial-header {
  align-items: center;
  gap: 100px;
  margin: 40px auto;
}

#financial-header * {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

footer {
  background: rgba(200, 200, 200, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
  padding: 5px 0;
}

footer a {
  color: mediumslateblue;
  cursor: pointer;
  text-decoration: none;
}

footer a:hover {
  color: mediumslateblue;
  font-weight: 600;
}

#footer li {
  flex: 1 1 0px;
}

footer ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  padding-left: 0;
}

.green {
  color: mediumseagreen !important;
}

header {
  align-items: center;
  background: mediumslateblue;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#header-symbol {
  color: white;
  flex: 1 0 33%;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
}

#header-title {
  color: white;
  flex: 1 0 33%;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

#header-text-input {
  flex: 1 0 33%;
  text-align: right;
}

#header-text-input input {
  border: 2px solid white;
  border-radius: 4px;
  height: 26px;
  font-size: 1.1rem;
  padding-bottom: 1px;
  text-transform: uppercase;
  text-align: center;
  width: 100px;
}

#header-text-input input:focus {
  background: rgb(255, 208, 0);
  border: 2px solid gold;
  color: black;
}

.legal {
  padding: 10px 30px 30px 30px;
  text-align: left;
}

.legal a {
  color: mediumslateblue;
}

.legal a:hover {
  font-weight: 600;
}

.legal-body {
  font-size: 1rem;
  padding-bottom: 10px;
}

.legal-body-header {
  font-size: 1rem;
  font-weight: 600;
}

.legal-date {
  font-size: 0.9rem;
  padding: 10px 0 30px 0;
  text-align: center;
}

.legal-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
}

.legal-header {
  border-bottom: 4px solid rgba(0, 0, 0, 0.8);
  font-size: 2rem;
  font-weight: 600;
  margin: 0 auto;
  width: fit-content;
}

.legal-sub-header {
  border-bottom: 2px solid black;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
  width: fit-content;
}

#loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25%;
  text-align: center;
}

#loading-icon {
  animation: loading-icon 1s infinite linear;
  height: 80px;
  width: 80px;
}

@keyframes loading-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

#loading-text {
  font-size: 1.3rem;
  font-weight: 700;
}

#navbar {
  background: rgba(200, 200, 200, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 1.1rem;
  font-weight: 400;
  padding: 5px 10px;
}

#navbar a {
  color: mediumslateblue;
  cursor: pointer;
}

#navbar a:hover {
  border: 2px solid black;
  border-radius: 5px;
  background: rgb(175, 160, 255);
  color: white;
  padding: 8px;
}

#navbar a:active {
  color: black;
}

.nav-active {
  background: mediumslateblue !important;
  border: 2px solid black;
  border-radius: 5px;
  color: white !important;
  font-weight: 600;
  padding: 8px;
}

.nav-link {
  margin: 8px;
}

#navbar li {
  flex: 1 1 0px;
}

#navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin: 12px 0;
  padding-left: 0;
  text-align: center;
}

#news {
  margin-top: 5px;
}

#news thead {
  border: 0;
}

#news-footer-description {
  font-size: 0.9rem;
  margin: 10px 0 0 0;
  text-align: center;
}

.news-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#no-symbol {
  margin-top: 10%;
}

.no-symbol-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#no-symbol-found {
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
}

#no-symbol-found div {
  margin: 20px 0;
}

#no-symbol-found span {
  border-bottom: 2px solid black;
  font-weight: 700;
}

#no-symbol-found-sm {
  font-size: 1.4rem;
  padding-top: 40px;
}

#no-symbol-img {
  margin: 20px 0 10px 0;
  width: 170px;
}

#not-found {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

#not-found-bottom {
  color: black;
  font-size: 1.5rem;
  padding: 20px;
}

#not-found-code {
  font-size: 0.9rem;
  margin-top: 100px;
}

#not-found-top {
  color: black;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#not-found-title {
  color: red;
  font-size: 8rem;
  font-weight: 700;
  padding-right: 30px;
}

.option-button button {
  border: 2px solid black;
  border-radius: 10px;
  background: black;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 15px;
  text-transform: capitalize;
}

.option-button button:hover {
  background: rgb(175, 160, 255);
  color: white;
}

.option-button button:active {
  color: mediumslateblue;
}

.option-button-active {
  background: mediumslateblue !important;
  border-radius: 5px;
  color: white !important;
}

.red {
  color: red !important;
}

section {
  flex: 1 0 auto;
  padding: 20px 0 30px 0;
}

.separator {
  border-top: 2px solid rgba(35, 35, 35, 0.3);
  border-radius: 5px;
  margin: 10px auto;
  width: 40%;
}

.text-right {
  text-align: right !important;
}

#ticker {
  background: rgba(255, 255, 255, 0.1);
  padding: 11px 0 10px 70px;
  white-space: nowrap;
}

.ticker-percent {
  font-weight: 600;
}

.ticker-plus-minus {
  font-weight: 600;
  padding-left: 5px;
}

.ticker-spacer {
  margin-right: 50px;
}

.ticker-symbol {
  display: inline;
  font-size: 1.2rem;
  padding: 0 15px;
}

#top {
  margin-top: 5px;
}

#top thead {
  border: 0;
}

#top-footer-description {
  font-size: 0.9rem;
  margin: 10px 0 0 0;
  text-align: center;
}

.top-flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.underline {
  text-decoration: underline !important;
}